<div class="container mainContainerSpacing">
  <h4 class="sentenceHeading text-warning mb-1">List of the last 7 created sentences:</h4>
  <button
          *ngIf="listOfSentences.length > 0"
          type="button"
          class="btn btn-success m-1"
          (click)="getSentenceList()"
        >
          Refresh
        </button>
</div>

<div *ngFor="let singleSentence of listOfSentences;" class="container mainContainerSpacing" >
  <div class="row">
    <div class="col">
      <mat-card class="mt-1 p-2">{{ singleSentence.sentence }}</mat-card>
    </div>
  </div>
</div>


