<div class="container mainContainerSpacing">
  <div class="d-flex justify-content-center sentenceWidthCorrection">
    <form [formGroup]="form">
      <div class="form-group min-vw-45 sentenceWidthCorrection">
        <h4 class="sentenceHeading mb-2 mt-1 text-warning">
          Select your word type:
        </h4>
        <select
          class="form-select"
          aria-label=".form-select-lg"
          (change)="checkWordTypeDropDown($event)"
          formControlName="wordTypeControl"
          ngModel="default"
        >
          <option disabled selected value="default" hidden>
            Step 1 - Select your word type
          </option>

          <option *ngFor="let word of wordList" [value]="word.wordType">
            {{ word.wordType }}
          </option>
        </select>
      </div>

      <div
        *ngIf="listOfWords.length > 0"
        class="form-group min-vw-45 sentenceWidthCorrection"
      >
        <h4 class="sentenceHeading mb-2 mt-2 text-warning">
          Select your word:
        </h4>

        <select
          class="form-select"
          aria-label=".form-select-lg"
          formControlName="listOfWordTypeControl"
          #wordSelection
          (change)="wordSelected($event)"
          ngModel="default"
        >
          <option disabled selected value="default" hidden>
            Step 2 - select your word
          </option>
          <option *ngFor="let singleWord of listOfWords" [value]="singleWord">
            {{ singleWord }}
          </option>
        </select>
      </div>
      <br />

      <h4 class="sentenceHeading mb-1 mt-5 text-warning">Your sentence:</h4>
      <div
        class="d-flex justify-content-left border border-primary p-2 rounded sentenceWidthCorrection sentenceBox"
      >
        {{
          usersSentence.length > 0
            ? usersSentence
            : "In order to create your sentence, select from the words above"
        }}
      </div>
      <div class="d-flex justify-content-center">
        <button
          *ngIf="usersSentence.length > 0"
          type="button"
          class="btn btn-success m-1"
          (click)="saveSentence()"
        >
          Save
        </button>
        <br />
        <button
          *ngIf="usersSentence.length > 0"
          type="button"
          class="btn btn-warning m-1"
          (click)="clearSentence()"
        >
          Clear
        </button>
      </div>
      <br />
    </form>
  </div>
</div>
